body{
    background: linear-gradient(rgb(238, 154, 220), white, rgb(194, 188, 247));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 200px;
    margin-bottom: 20px; 
}

.central{
    width: fit-content;
    background: rgba(255, 255, 255, 0.856);
    border-radius: 10px;
    padding: 15px;

} 

.central button{
    width: 80px;
    background: rgba(245, 149, 40, 0.993);
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.5s
}

.central button:hover{
    background: pink;
    transform: translateY(-2px);
}